<div class="widgets" *ngIf="!concluido">
  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Dados pessoais" class="modal-buttons">
        <button [class]="cb1" (click)="selectFase(1)">Dados pessoais</button>
        <button [class]="cb2" (click)="selectFase(2)">Escolaridade</button>
        <button [class]="cb3" (click)="selectFase(3)">Experiências</button>
        <button [class]="cb4" (click)="selectFase(4)">Conclusão</button>
      </ba-card>
    </div>
  </div>
</div>


<div class="widgets" *ngIf="!concluido">
  <div class="row">

    <!-- Dados pessoais -->
    <div class="col-md-12" *ngIf="show1">

      <ba-card cardTitle="Dados pessoais" baCardClass="with-scroll">
        <form [formGroup]="formPessoa" (ngSubmit)="onSubmitPessoa()">
          <div class="row">
            <div class="form-group col-md-3">
              <label for="input01">CPF</label>
              <input formControlName="cpf" type="text" (blur)="searchFormPessoa()" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="input01">RG</label>
              <input formControlName="rg" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="input01">Nome</label>
              <input formControlName="nome" type="text" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="input01">E-mail</label>
              <input formControlName="email" type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="input01">Telefone</label>
              <input formControlName="telefone" type="text" class="form-control" placeholder="(00) 00000-0000">
            </div>
            <div class="form-group col-md-3">
              <label for="input01">Genero</label>
              <select formControlName="genero" class="form-control">
                <option></option>
                <option *ngFor="let item of generos" [value]="item.id">{{item.nome}}</option>
              </select>
            </div>
          </div>
          <button class="{{ btnSelected }} pull-right" type="submit">Guardar / prosseguir</button>
        </form>
      </ba-card>

    </div>

    <!-- Escolaridade -->

    <div class="col-md-12" *ngIf="show2">

      <ba-card cardTitle="Formações" baCardClass="with-scroll">
        <form [formGroup]="formFormacao" (ngSubmit)="onSubmitFormacao()">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="input01">Instituição de ensino</label>
              <input formControlName="instituicaoEnsino" type="text" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-6">
              <label for="input01">Curso</label>
              <input formControlName="nome" type="text" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="input01">Grau de escolaridade</label>
              <select formControlName="escolaridade" class="form-control">
                <option></option>
                <option *ngFor="let item of escolaridades" [value]="item.id">{{item.grau}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="input01">Data de início</label>
              <input formControlName="dataInicio" type="date" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-4">
              <label for="input01">Data de término</label>
              <input formControlName="dataFim" type="date" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-12">
              <div style="margin-top: 10px">
                <button *ngIf="insertFormacao" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                <button *ngIf="!insertFormacao" (click)="setNovoFormacao()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar / Novo</button>
                <button *ngIf="!insertFormacao" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Atualizar</button>
                <button *ngIf="!insertFormacao" (click)="onDeleteFomacao(formFormacao.value)" class="btn btn-danger pull-right" style="margin-left: 6px">Deletar</button>
              </div>
            </div>
          </div>
        </form>
      </ba-card>

      <ba-card cardTitle="" baCardClass="with-scroll table-panel">
        <table class="table table-hover">
          <thead>
            <tr class="black-muted-bg">
              <th style="text-align: left">Instituição de ensino</th>
              <th style="text-align: left">Curso</th>
              <th style="text-align: left">Grau de escolaridade</th>
              <th style="text-align: left">Início</th>
              <th style="text-align: left">Fim</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of formacoes" class="no-top-border">
              <td (click)="setFormacao(item)" style="text-align: left">{{item.instituicaoEnsino}}</td>
              <td (click)="setFormacao(item)" style="text-align: left">{{item.nome}}</td>
              <td (click)="setFormacao(item)" style="text-align: left">{{item.escolaridade.grau}}</td>
              <td (click)="setFormacao(item)" style="text-align: left">{{item.dataInicio}}</td>
              <td (click)="setFormacao(item)" style="text-align: left">{{item.dataFim}}</td>
            </tr>
          </tbody>
        </table>
      </ba-card>

    </div>

    <!-- experiencias -->


    <div class="col-md-12" *ngIf="show3">

      <ba-card cardTitle="Experiências" baCardClass="with-scroll">
        <form [formGroup]="formExperiencia" (ngSubmit)="onSubmitExperiencia()">
          <div class="row">
            <div class="form-group col-md-3">
              <label for="input01">Area de atuação</label>
              <select formControlName="areasAtuacao" class="form-control">
                <option></option>
                <option *ngFor="let item of atuacoes" [value]="item.id">{{item.nome}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="input01">Cargo ocupado</label>
              <input formControlName="cargoOcupado" type="text" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="input01">Data de início</label>
              <input formControlName="dataInicio" type="date" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label for="input01">Data de término (opcional)</label>
              <input formControlName="dataFim" type="date" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-12">
              <label for="input01">Breve descrição das atividades</label>
              <input formControlName="observacoes" type="text" class="form-control required" placeholder="">
            </div>
            <div class="form-group col-md-12">
              <div style="margin-top: 10px">
                <button *ngIf="insertExperiencia" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                <button *ngIf="!insertExperiencia" (click)="setNovoExperiencia()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar / Novo</button>
                <button *ngIf="!insertExperiencia" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Atualizar</button>
                <button *ngIf="!insertExperiencia" (click)="onDeleteExperiencia(formExperiencia.value)" class="btn btn-danger pull-right"
                  style="margin-left: 6px">Deletar</button>
              </div>
            </div>
          </div>
        </form>
      </ba-card>

      <ba-card cardTitle="" baCardClass="with-scroll table-panel">
        <table class="table table-hover">
          <thead>
            <tr class="black-muted-bg">
              <th style="text-align: left">Area de atuação</th>
              <th style="text-align: left">Cargo ocupado</th>
              <th style="text-align: left">Início</th>
              <th style="text-align: left">Fim</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of experiencias" class="no-top-border">
              <td (click)="setExperiencia(item)" style="text-align: left">{{item.areasAtuacao.nome}}</td>
              <td (click)="setExperiencia(item)" style="text-align: left">{{item.cargoOcupado}}</td>
              <td (click)="setExperiencia(item)" style="text-align: left">{{item.dataInicio}}</td>
              <td (click)="setExperiencia(item)" style="text-align: left">{{item.dataFim}}</td>
            </tr>
          </tbody>
        </table>
      </ba-card>

    </div>
    <!-- conclusão -->
    <div class="col-md-12" *ngIf="show4">

      <ba-card cardTitle="Conclusão" baCardClass="with-scroll">
        <form [formGroup]="formConclusao" (ngSubmit)="concluirCurriculo()">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="input01">Informações adicionais (opcional)</label>
              <textarea formControlName="descricao" placeholder="" class="form-control" id="textarea01"></textarea>
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="input01">Anexar arquivo .pdf (opcional)</label>
              <ba-file-uploader [fileUploaderOptions]="fileUploaderOptions"></ba-file-uploader>
            </div> -->
          </div>
          <button class="{{ btnSelected }} pull-right" type="submit">Concluir</button>
        </form>
      </ba-card>

    </div>


  </div>
</div>

<div class="widgets" *ngIf="concluido">
  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="concluído" class="modal-buttons">
        <div>
          <h2>Seu currículo foi enviado com sucesso!</h2>
          <h3>Para editar as informações clique aqui </h3><button (click)="updateNovamente()" class="btn btn-success">Voltar</button>
        </div>
      </ba-card>
    </div>
  </div>
</div>

