<div class="widgets">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-12 col-sm-12">
        <ba-card>
          <form>
            <div class="form-group col-md-12">
              <label for="periodoInicial">Período Inicial</label>
              <input type="date" class="form-control" id="periodoInicial">

              <label for="periodoFinal">Período Final</label>
              <input type="date" class="form-control" id="periodoFinal">

              <div style="margin-top: 3px">
                <table class="table table-hover">
                  <thead>
                    <tr class="black-muted-bg">
                      <th style="text-align: left">Valor Inicial</th>
                      <th style="text-align: left">Valor Final</th>
                      <th style="text-align: left">Valor</th>
                      <th>
                        <button (click)="addLinha()" class="btn">+</button>
                      </th>
                    </tr>
                  </thead>
                  <tbody ng-if="tabSelecionada">
                    <tr *ngFor="let faixa of tabSelecionada?.faixas; let i = index" class="no-top-border">
                      <td>
                        <input type="text" [(ngModel)]="faixa.valInicial" name="{{faixa.valInicial}}">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="faixa.valFinal" name="{{faixa.valFinal}}">
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="faixa.valor" name="{{faixa.valor}}">
                      </td>
                      <td>
                        <button (click)="removeLinha(i)" class="btn">X</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div style="margin-top: 10px">
                <button type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                <button (click)="limpaForm()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar</button>
              </div>

            </div>
          </form>
        </ba-card>
      </div>


    </div>
  </div>
</div>
