<div class="widgets">
  <div class="row">

    <div class="col-md-12">
      <div class=row>
        <div class="col-md-6 col-sm-12">
          <ba-card cardTitle="" baCardClass="with-scroll table-panel">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Nome do setor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resposta" class="no-top-border">
                  <td (click)="setSetor(item)" style="text-align: left">{{item.nome}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>


        <div class="col-md-6 col-sm-12">
          <ba-card cardTitle="" baCardClass="with-scroll">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group col-md-12">
                <label for="input01">Nome do setor</label>

                <input [formControl]="nome" type="text" class="form-control required" id="nome" name="nome" placeholder="">

                <div style="margin-top: 10px">
                  <button *ngIf="insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                  <button *ngIf="!insert" (click)="setNovo()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar / Novo</button>
                  <button *ngIf="!insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Atualizar</button>
                  <button *ngIf="!insert" (click)="onDelete(form.value)" class="btn btn-danger pull-right" style="margin-left: 6px">Deletar</button>
                </div>
              </div>
            </form>
          </ba-card>
        </div>
      </div>
    </div>

  </div>
</div>
