<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <button (click)="calcula()" class="btn btn-success pull-right " style="margin-left: 6px;margin-right: 15px;margin-bottom: 5px">Calcular folha para o período vigente</button>

    </div>
    <div class="col-md-12">

      <div *ngIf="calculos && !folhas">
        <div class="col-md-12 col-sm-12">
          <ba-card cardTitle="" baCardClass="with-scroll table-panel">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Período Inicial</th>
                  <th style="text-align: left">Período Final</th>
                  <th style="text-align: left">Data Cálculo</th>
                </tr>
              </thead>
              <tbody *ngIf="calculos">
                <tr *ngFor="let c of calculos; let i = index" (click)="getFolhas(i)" class="no-top-border">
                  <td>{{parseDate(c.perInicial)}}</td>
                  <td>{{parseDate(c.perFinal)}}</td>
                  <td>{{parseDate(c.dataCalculo)}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>
      </div>

      <div *ngIf="folhas">
        <button (click)="voltar()" class="btn btn-success pull-right col-md-1 col-sm-1" style="margin-left: 6px">Voltar</button>
        <button (click)="imprimir()" class="btn btn-success pull-right col-md-1 col-sm-1" style="margin-left: 6px">Imprimir</button>
        <ba-card cardTitle="" baCardClass="with-scroll table-panel">
          <div *ngFor="let f of folhas" id="folhas-geradas">
            <h2>{{f.nome}}</h2>
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Nome</th>
                  <th style="text-align: left">Referência</th>
                  <th style="text-align: left">Provento</th>
                  <th style="text-align: left">Desconto</th>
                </tr>
              </thead>
              <tbody *ngIf="folhas">]
                <tr class="no-top-border">
                  <td>Salário Bruto</td>
                  <td></td>
                  <td>{{number_format(f.salarioBruto)}}</td>
                  <td></td>
                </tr>
                <tr *ngFor="let item of removeNeutros(f.itens)" class="no-top-border">
                  <td>{{item.nome}}</td>
                  <td>{{item.Referencia}}</td>
                  <td>{{item.tipo == "PROVENTO" ? number_format(item.valor) : ''}}</td>
                  <td>{{item.tipo == "DESCONTO" ? number_format(item.valor) : ''}}</td>
                </tr>
                <tr class="no-top-border">
                  <td>Total</td>
                  <td></td>
                  <td>{{number_format(f.totalProventos)}}</td>
                  <td>{{number_format(f.totalDescontos)}}</td>
                </tr>
                <tr class="no-top-border">
                  <td>Salário Líquido</td>
                  <td></td>
                  <td>{{number_format(f.salarioLiquido)}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h3>Eventos Neutros</h3>
            <ul>
              <li *ngFor="let n of getNeutos(f.itens)">{{n.nome}}: {{n.valor}}</li>
            </ul>>
          </div>
        </ba-card>
      </div>
    </div>
  </div>
</div>
