<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 col-sm-12" *ngIf="insercao">
        <ba-card>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group col-md-12">
              <label for="nome">Nome</label>
              <input formControlName="nome" id="nome" class="form-control required col-md-12" placeholder="Nome">
              <label for="CPF">CPF</label>
              <input formControlName="cpf" id="CPF" class="form-control required col-md-6" placeholder="CPF">
              <label for="dataNascimento">Data de Nascimento</label>
              <input formControlName="dataNascimento" type="date" class="form-control required col-md-6" id="dataNascimento" name="dataNascimento"
                placeholder="Data de Nascimento">
              <label for="rg">RG</label>
              <input formControlName="rg" class="form-control required col-md-4" placeholder="rg">
              <label for="orgaoEmissorRg">Orgao Emissor RG</label>
              <input formControlName="orgaoEmissorRg" id="orgaoEmissorRg" class="form-control required col-md-3" placeholder="Orgao Emissor Rg">
              <label for="estadoEmissorRg">Estado Emissor Rg</label>
              <input formControlName="estadoEmissorRg" id="estadoEmissorRg" class="form-control required col-md-2" placeholder="Estado Emissor Rg">
              <label for="dataEmissãoRg">Data Emissão Rg</label>
              <input type="date" formControlName="dataEmissãoRg" id="dataEmissãoRg" class="form-control required col-md-3" placeholder="Data Emissão RG">
              <label for="email">Email</label>
              <input formControlName="email" id="email" class="form-control required col-md-8" placeholder="Email">
              <label for="telefone">Telefone</label>
              <input formControlName="telefone" id="telefone" class="form-control required col-md-4" placeholder="Telefone">
              <label for="genero">Genero</label>
              <select name="genero" formControlName="genero" class="form-control col-md-6">
                <option *ngFor="let item of generos" [value]="item.id">{{ item.descricao }}</option>
              </select>
              <label for="estCivil">Estado Civil</label>
              <select name="estCivil" formControlName="estCivil" class="form-control col-md-6">
                <option *ngFor="let item of estadosCivis" [value]="item.id">{{ item.descricao }}</option>
              </select>
              <div style="margin-top: 10px">
                <button type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                <button (click)="limpaForm()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar</button>
              </div>
            </div>
          </form>
        </ba-card>
      </div>
      <div *ngIf="!insercao">
        <button (click)="addNovo()" class="btn btn-success pull-right col-md-1 col-sm-1" style="margin-left: 6px">Novo</button>
        <div class="col-md-11 col-sm-11">
          <ba-card cardTitle="" baCardClass="with-scroll table-panel">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Nome</th>
                  <th style="text-align: left">Genero</th>
                  <th style="text-align: left">CPF</th>
                  <th style="text-align: left">Email</th>
                  <th style="text-align: left">Telefone</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" class="no-top-border" (click)="alterar(item)">
                  <td style="text-align: left">{{item.nome}}</td>
                  <td style="text-align: left">{{ formatarGenero(item.genero) }}</td>
                  <td style="text-align: left">{{item.cpf}}</td>
                  <td style="text-align: left">{{item.email}}</td>
                  <td style="text-align: left">{{item.telefone}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
</div>
