<div class="widgets">
  <div class="row">
    <div class="col-md-12">


        <div class="col-md-12 col-sm-12" *ngIf="insert">
            <ba-card>
              <form [formGroup]="form">
                <div class="form-group col-md-12">
    
                  <label for="dataInicio">Data Inicial</label>
                    <input formControlName="dataInicio" type="date" class="form-control required col-md-6" id="dataInicio" name="dataInicio"
                    placeholder="Data Inicial">
                    
                  <label for="dataFim">Data Inicial</label>
                    <input formControlName="dataFim" type="date" class="form-control required col-md-6" id="dataFim" name="dataFim"
                    placeholder="Data Final">
    
                  <label for="quantidade">Quantidade</label>
                  <input formControlName="quantidade" type="number" class="form-control required" id="quantidade" name="quantidade" placeholder="Quantidade">
    
                  <label for="descGeral">Descrição Geral</label>
                  <textarea formControlName="descGeral" type="text" class="form-control required" id="descGeral" name="descGeral" placeholder="Descrição Geral"></textarea>

                  <label for="cargos">Cargo Correspondente</label>
                  <select name="cargos" formControlName="cargos" class="form-control">
                    <option *ngFor="let item of cargos" [value]="item.id">{{item.nome}}</option>
                  </select>
  
                  <label for="tipoLiberacao">Tipo de Liberação</label>
                  <select name="tipoLiberacao" formControlName="tipoLiberacao" class="form-control required">
                    <option  [value]="1">Interna</option>
                    <option  [value]="2">Externa</option>
                    <option  [value]="3">Ambos</option>
                  </select>

                  <div style="margin-top: 10px">
                    <button (click)="onSubmit()" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                    <button (click)="limpaForm()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar</button>
                  </div>
                </div>
              </form>
            </ba-card>
          </div>

          <div *ngIf="!insert">
              <button (click)="addNovo()" class="btn btn-success pull-right col-md-1 col-sm-1" style="margin-left: 6px">Novo</button>
              <div class="col-md-11 col-sm-11">
                <ba-card cardTitle="" baCardClass="with-scroll table-panel">
                  <table class="table table-hover">
                    <thead>
                      <tr class="black-muted-bg">
                        <th style="text-align: left">Data Início</th>
                        <th style="text-align: left">Data Fim</th>
                        <th style="text-align: left">Quantidade</th>
                        <th style="text-align: left">Cargo</th>
                        <th style="text-align: left">Tipo Liberação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data" class="no-top-border" (click)="alterar(item)">
                        <td style="text-align: left">{{dataFormatada(item.dataInicio)}}</td>
                        <td style="text-align: left">{{dataFormatada(item.dataFim)}}</td>
                        <td style="text-align: left">{{item.quantidade}}</td>
                        <td style="text-align: left">{{item.cargos.nome}}</td>
                        <td style="text-align: left">{{formatarTipoLiberacao(item.tipoLiberacao)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ba-card>
              </div>
            </div>
      <!-- <div class=row>
        <div class="col-md-6 col-sm-12">
          <ba-card cardTitle="" baCardClass="with-scroll table-panel">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Data Início</th>
                  <th style="text-align: left">Data Fim</th>
                  <th style="text-align: left">Quantidade</th>
                  <th style="text-align: left">Descrição Geral</th>
                  <th style="text-align: left">Cargos</th>
                  <th style="text-align: left">Tipo Liberação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cargos" class="no-top-border">
                  <td (click)="setCargo(item)" style="text-align: left">{{item.data_inicio}}</td>
                  <td (click)="setCargo(item)" style="text-align: left">{{item.data_fim}}</td>
                  <td (click)="setCargo(item)" style="text-align: left">{{item.desc_geral}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>


        <div class="col-md-6 col-sm-12">
          <ba-card cardTitle="" baCardClass="with-scroll">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group col-md-12">

                <label for="input01">Nome</label>
                <input [formControl]="nome" type="text" class="form-control required" id="nome" name="nome" placeholder="">

                <label for="input01">Cargo</label>
                <select [formControl]="cargos_id" class="form-control">
                  <option></option>
                  <option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.id +' - '+ cargo.nome}}</option>
                </select>


                <div style="margin-top: 10px">
                  <button *ngIf="insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                  <button *ngIf="!insert" (click)="setNovo()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar / Novo</button>
                  <button *ngIf="!insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Atualizar</button>
                  <button *ngIf="!insert" (click)="onDelete(form.value)" class="btn btn-danger pull-right" style="margin-left: 6px">Deletar</button>
                </div>
              </div>
            </form>
          </ba-card>
        </div>
      </div> -->
    </div>

  </div>
</div>