<div class="widgets">

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6">
          <label for="pessoas">Pessoa</label>
          <select name="pessoas" formControlName="pessoas" (change)="onChangePessoa($event.target.value)" class="form-control">
            <option *ngFor="let item of pessoas" [value]="item.id">{{ item.nome }}</option>
          </select>

        </div>
        <div class="col-md-6">
          <label for="cargos">Cargo</label>
          <select name="cargos" formControlName="cargos" class="form-control">
            <option *ngFor="let item of cargos" [value]="item.id">{{ item.nome }}</option>
          </select>

        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
          <label for="dataAdmissao">Data de admissão</label>
          <input formControlName="dataAdmissao" type="date" class="form-control required" id="dataAdmissao" name="dataAdmissao" placeholder="Data de admissão">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="nomePai">Nome do pai</label>
          <input formControlName="nomePai" type="text" class="form-control required" id="nomePai" name="nomePai" placeholder="Nome do pai">
        </div>
        <div class="col-md-6">
          <label for="nomeMae">Nome da mae</label>
          <input formControlName="nomeMae" type="text" class="form-control required" id="nomeMae" name="nomeMae" placeholder="Nome da mãe">
        </div>

      </div>


      <div class="row">
        <div class="col-md-6">
          <label for="pis">PIS</label>
          <input formControlName="pis" type="number" class="form-control required" id="pis" name="pis" placeholder="PIS">
        </div>
        <div class="col-md-6">
          <label for="dataEmissaoPis">Data emissão PIS</label>
          <input formControlName="dataEmissaoPis" type="date" class="form-control required" id="dataEmissaoPis" name="dataEmissaoPis"
            placeholder="Data emissão PIS">          
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="reservista">Reservista</label>

          <select name="reservista" formControlName="reservista" class="form-control">
              <option value="S">Sim</option>
              <option value="N">Não</option>
            </select>

        </div>
        <div class="col-md-3">
          <label for="categoriaReservista">Categoria reservista</label>
          <select name="categoriaReservista" formControlName="categoriaReservista" class="form-control">
              <option value="S">Sim</option>
              <option value="N">Não</option>
            </select>
          
        
        </div>
        <div class="col-md-3">
          <label for="nacionalidade">Nacionalidade</label>
          <input formControlName="nacionalidade" type="text" class="form-control required" id="nacionalidade" name="nacionalidade"
            placeholder="Nacionalidade">
        </div>
        <div class="col-md-3">
          <label for="naturalidade">Naturalidade</label>
          <input formControlName="naturalidade" type="text" class="form-control required" id="naturalidade" name="naturalidade" placeholder="Naturalidade">
        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
          <label for="seguroDesemprego">Seguro Desemprego</label>
          <select name="seguroDesemprego" formControlName="seguroDesemprego" class="form-control">
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>

        <div class="col-md-3">

          <label for="dataDemissao">Data demissão</label>
          <input formControlName="dataDemissao" type="date" class="form-control required" id="dataDemissao" name="dataDemissao" placeholder="Data demissão">
         
          
          </div>

          <div class="col-md-3">
            <label for="numeroCarteiraTrabalho">Numero Carteira de Trabalho</label>
            <input formControlName="numeroCarteiraTrabalho" type="text" class="form-control required" id="numeroCarteiraTrabalho" name="numeroCarteiraTrabalho"
              placeholder="Numero Carteira de Trabalho">
          
         </div>

      </div>

      <div class="row">
        <div class="col-md-3">
          <label for="serieCarteiraTrabalho">Serie Carteira de Trabalho</label>
          <input formControlName="serieCarteiraTrabalho" type="text" class="form-control required" id="serieCarteiraTrabalho" name="serieCarteiraTrabalho"
            placeholder="Serie Carteira de Trabalho">
        </div>

        <div class="col-md-3">
          <label for="estadoCarteiraTrabalho">Estado Carteira de Trabalho</label>
          <input formControlName="estadoCarteiraTrabalho" type="text" class="form-control required" id="estadoCarteiraTrabalho" name="estadoCarteiraTrabalho"
            placeholder="Estado Carteira de Trabalho">          
          </div>
  
          <div class="col-md-3">
            <label for="dataEmissaoCarteiraTrabalho">Data Emissao Carteira de Trabalho</label>
            <input formControlName="dataEmissaoCarteiraTrabalho" type="date" class="form-control required" id="dataEmissaoCarteiraTrabalho"
              name="dataEmissaoCarteiraTrabalho" placeholder="Data Emissao Carteira de Trabalho">
            </div>
    
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="cnh">CNH</label>
          <input formControlName="cnh" type="text" class="form-control required" id="cnh" name="cnh" placeholder="CNH">
        </div>

        <div class="col-md-6">
          <label for="categoriaCnh">Categoria CNH</label>
          <input formControlName="categoriaCnh" type="text" class="form-control required" id="categoriaCnh" name="categoriaCnh" placeholder="Categoria CNH">
          </div>
  

      </div>

      <div class="row">
          <div class="col-md-3">
            <label for="orgaoEmissorCnh">Orgão Emissor CNH</label>
            <input formControlName="orgaoEmissorCnh" type="text" class="form-control required" id="orgaoEmissorCnh" name="orgaoEmissorCnh"
              placeholder="Orgão Emissor CNH">            
          </div>
          <div class="col-md-3">
            <label for="dataEmissaoCnh">Data Emissão CNH</label>
            <input formControlName="dataEmissaoCnh" type="date" class="form-control required" id="dataEmissaoCnh" name="dataEmissaoCnh"
              placeholder="Data Emissão CNH">
          </div>

          <div class="col-md-3">
            <label for="dataPrimeiraCnh">Data Primeira Cnh</label>
            <input formControlName="dataPrimeiraCnh" type="date" class="form-control required" id="dataPrimeiraCnh" name="dataPrimeiraCnh"
              placeholder="Data Primeira CNH">
          </div>

          <div class="col-md-3">
            <label for="dataValidadeCnh">Data Validade CNH</label>
            <input formControlName="dataValidadeCnh" type="date" class="form-control required" id="dataValidadeCnh" name="dataValidadeCnh"
              placeholder="Data Validade CNH">
            </div>

        </div>


<div class="row">
  <div class="col-md-3">
      <label for="tituloEleitor">Titulo de Eleitor</label>
      <input formControlName="tituloEleitor" type="text" class="form-control required" id="tituloEleitor" name="tituloEleitor"
        placeholder="Titulo de Eleitor">

  </div>

 <div class="col-md-3">
 
    <label for="zonaTituloEleitor">Zona Titulo de Eleitor</label>
    <input formControlName="zonaTituloEleitor" type="text" class="form-control required" id="zonaTituloEleitor" name="zonaTituloEleitor"
      placeholder="Zona Titulo Eleitor">

    
  </div>

  <div class="col-md-3">
      <label for="secaoTituloEleitor">Secao Titulo de Eleitor</label>
      <input formControlName="secaoTituloEleitor" type="text" class="form-control required" id="secaoTituloEleitor" name="secaoTituloEleitor"
        placeholder="Secão Titulo Eleitor">

    </div>
  
</div>

    </div>
    <input type="submit" value="Salvar" class="btn btn-info" />
  </form>
</div>