<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div class=row>
        <div class="col-md-6 col-sm-12">
          <ba-card cardTitle="">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Descrição</th>
                  <th style="text-align: left">Tipo</th>
                  <th style="text-align: left">Grupo Evento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" class="no-top-border">
                  <td (click)="setVal(item)" style="text-align: left">{{item.descricao}}</td>
                  <td (click)="setVal(item)" style="text-align: left">{{item.tipo}}</td>
                  <td (click)="setVal(item)" style="text-align: left">{{item.grupoEventos.descricao}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>




        <div class="col-md-6 col-sm-12">
          <ba-card>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(form.value)">
              <div class="form-group col-md-12">

                <label for="descricao">Descrição</label>
                <input formControlName="descricao" type="text" class="form-control required" id="descricao" name="descricao" placeholder="Descrição">

                <label for="automatico">Automatico</label>
                <input formControlName="automatico" type="number" class="form-control required" id="automatico" name="automatico" placeholder="Automatico">

                <label for="formula">Formula</label>
                <input formControlName="formula" type="text" class="form-control required" id="formula" name="formula" placeholder="Formula">

                <label for="incidencias">Incidencias</label>
                <input formControlName="incidencias" type="text" class="form-control required" id="incidencias" name="incidencias" placeholder="Incidencias">

                <label for="ordemCalculo">Ordem Calculo</label>
                <input formControlName="ordemCalculo" type="number" class="form-control required" id="ordemCalculo" name="ordemCalculo" placeholder="Ordem do Calculo">

                <label for="percentual">Percentual</label>
                <input formControlName="percentual" type="number" class="form-control required" id="percentual" name="percentual" placeholder="Percentual">

                <label for="referencia">Referencia</label>
                <input formControlName="referencia" type="number" class="form-control required" id="referencia" name="referencia" placeholder="Referencia">

                <label for="tipo">Tipo</label>
                <input formControlName="tipo" type="number" class="form-control required" id="tipo" name="tipo" placeholder="tipo">

                <label for="valorMaximo">Valor Maximo</label>
                <input formControlName="valorMaximo" type="number" class="form-control required" id="valorMaximo" name="valorMaximo" placeholder="Valor Maximo">

                <label for="valorMinimo">Valor Minimo</label>
                <input formControlName="valorMinimo" type="number" class="form-control required" id="valorMinimo" name="valorMinimo" placeholder="Valor Minimo">


                <label for="input01">Grupos</label>
                <select formControlName="grupoEventos" class="form-control">
                  <option></option>
                  <option *ngFor="let item of gruposEventos" [value]="item">{{formatarGrupo(item)}}</option>
                </select>


                <div style="margin-top: 10px">
                  <button *ngIf="insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                  <button *ngIf="!insert" (click)="setNovo()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar / Novo</button>
                  <button *ngIf="!insert" type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Atualizar</button>
                  <button *ngIf="!insert" (click)="onDelete(form.value)" class="btn btn-danger pull-right" style="margin-left: 6px">Deletar</button>
                </div>

              </div>
            </form>
          </ba-card>
        </div>
      </div>
    </div>
  </div>
</div>
