<div class="widgets">
  <div class="row">
    <div class="col-md-12">







      <div class="col-md-12 col-sm-12" *ngIf="insercao">
        <ba-card>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="form-group col-md-12">

              <label for="descricao">Descrição</label>
              <input formControlName="descricao" type="text" class="form-control required" id="descricao" name="descricao" placeholder="Descrição">

              <label for="tipo">Tipo</label>
              <select name="tipo" formControlName="tipo" class="form-control">
                <option></option>
                <option *ngFor="let item of tipos" [value]="item">{{ item }}</option>
              </select>

              <label for="automatico">Automatico</label>
              <input formControlName="automatico" type="number" class="form-control required" id="automatico" name="automatico" placeholder="Automatico">

              <label for="formula">Formula</label>
              <input formControlName="formula" type="text" class="form-control required" id="formula" name="formula" placeholder="Formula">

              <label for="ordemCalculo">Ordem Calculo</label>
              <input formControlName="ordemCalculo" type="number" class="form-control required" id="ordemCalculo" name="ordemCalculo" placeholder="Ordem do Calculo">

              <label for="percentual">Percentual</label>
              <input formControlName="percentual" type="number" class="form-control required" id="percentual" name="percentual" placeholder="Percentual">

              <label for="referencia">Referencia</label>
              <input formControlName="referencia" type="number" class="form-control required" id="referencia" name="referencia" placeholder="Referencia">

              <label for="valorMaximo">Valor Maximo</label>
              <input formControlName="valorMaximo" type="number" class="form-control required" id="valorMaximo" name="valorMaximo" placeholder="Valor Maximo">

              <label for="valorMinimo">Valor Minimo</label>
              <input formControlName="valorMinimo" type="number" class="form-control required" id="valorMinimo" name="valorMinimo" placeholder="Valor Minimo">

              <label for="grupoEventos">Grupos</label>
              <select name="grupoEventos" [value]="grupoEventosSelecionado" class="form-control">
                <option *ngFor="let item of gruposEventos" [value]="item" (select)="addGrupoEvento(item)">{{ formatarGrupo(item) }}</option>
              </select>

              <div style="margin-top: 10px">
                <button type="submit" class="btn btn-warning pull-right" style="margin-left: 6px">Salvar</button>
                <button (click)="limpaForm()" class="btn btn-success pull-right" style="margin-left: 6px">Cancelar</button>
                <button (click)="delete()" class="btn btn-success pull-right" style="margin-left: 6px">Deletar</button>
              </div>
            </div>
          </form>
        </ba-card>
      </div>


      <div *ngIf="!insercao">
        <button (click)="addNovo()" class="btn btn-success pull-right col-md-1 col-sm-1" style="margin-left: 6px">Novo</button>
        <div class="col-md-11 col-sm-11">
          <ba-card cardTitle="" baCardClass="with-scroll table-panel">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th style="text-align: left">Descrição</th>
                  <th style="text-align: left">Percentual</th>
                  <th style="text-align: left">Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data" class="no-top-border" (click)="alterar(item)">
                  <td style="text-align: left">{{item.descricao}}</td>
                  <td style="text-align: left">{{item.percentual}}%</td>
                  <td style="text-align: left">{{item.tipo}}</td>
                </tr>
              </tbody>
            </table>
          </ba-card>
        </div>
      </div>





    </div>
  </div>
</div>
